In [1]:
import pickle as pkl
import pandas as pd

In [2]:
data1, oc1 = pkl.load(open('../processed/mimic_iii.pkl','rb'))
data2, oc2 = pkl.load(open('../processed/physionet_2012.pkl','rb'))
data3, oc3 = pkl.load(open('../processed/physionet_2019.pkl','rb'))

In [3]:
oc3['label'].value_counts()

label
0    37402
1     2441
Name: count, dtype: int64

In [4]:
data1[20:40]

       ts_id  minute         variable   value  TABLE
20  200001.0    20.0             PCO2   43.00    lab
21  200001.0    20.0              PO2   79.00    lab
22  200001.0    20.0        Potassium    4.60    lab
23  200001.0    20.0        Total CO2   28.00    lab
24  200001.0    20.0         pH Blood    7.41    lab
25  200001.0    53.0              DBP   65.00  chart
26  200001.0    53.0               HR  113.00  chart
27  200001.0    53.0              MBP   76.00  chart
28  200001.0    53.0    O2 Saturation   97.00  chart
29  200001.0    53.0               RR   20.00  chart
30  200001.0    53.0              SBP  110.00  chart
31  200001.0   113.0              DBP   68.00  chart
32  200001.0   113.0               HR  108.00  chart
33  200001.0   113.0              MBP   79.00  chart
34  200001.0   113.0    O2 Saturation   98.00  chart
35  200001.0   113.0               RR   18.00  chart
36  200001.0   113.0              SBP  113.00  chart
37  200001.0   173.0              DBP   68.00  chart
38  200001.0   173.0  Glucose (Blood)  118.00  chart
39  200001.0   173.0               HR  110.00  chart